
   
    .product-slider{
        width: 35rem;
        height: 32rem;
        background-color: transparent;
        position: absolute;
        right: 13%;
        top: 15%;
        overflow: hidden;
       
    } 

    .image-slider-holder img{
        width: 520px;
        z-index: 5;
        transition: 0.3s;
    }

    .imagesliderholder-active{
        margin-top: -45rem;
    }

    .image-slider-holder{
        width: 100%;
        height: 140rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
  

     .circle-bg{
        background-color: rgba(12, 11, 11, 0.226);
        width: 28rem;
        height: 28rem;
        border-radius: 50%;
        position: absolute;
        right: 16%;
        top: 10%;
        
    }

    .slider-arrow{
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        cursor: pointer;
    }

    .arrow-up{
        transform: rotate(-180deg);
    }
