
@media (min-width:600px){
  

    .logo{
        font-size: 0.6rem;
        margin-left: 2.5rem;
    }
 

    .menu-img{
      display: none;
  }   

  .desktop-nav{
      display: block;
      margin-right:1.8rem;
  }

  .cart{
      transition: 0.4s;
  }

  .cart:hover{
    transform: scale(1.2);
}


  .desktop-nav-content{
      width: 25rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style: none;
      position: relative;
    
  }

  .cartnotify{
      width: 20px;
      height: 20px;
      border-radius:50%;
      position: absolute;
      text-align: center;
      right: 2%;
      top: -20%;
    
  }
   
  .desktop-nav-content a{
    font-family: 'Public Sans', sans-serif;
    text-decoration: none;
    color: #ffff;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 0.8rem;
  }

  
  .desktop-nav-content a:hover{
    color: rgb(170, 170, 173);
}



  .cart{
      width: 25px;
      cursor: pointer;
  }

  .header-curve{
      display: none;
  }


  .hero{
    width: 100%;
    height: 60vh;
    top: 5rem;
    border-radius: 0;
    background-image:linear-gradient(to right, rgba(14, 13, 13, 0.884),rgb(48, 47, 47));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: none;
}


.slogan{
    height: 17rem;
    transform: translate(4rem,2rem);
   
}


.slogan h1{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    text-transform: capitalize;
    line-height: 1.1;
}

.slogan button{
    width: 8rem;
    height: 2.5rem;
    
}

.pr-logos{
    width: 16rem;
    height: 3.5rem;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 65%;
    top: 88%;
   
}

.pr-logos img{
    width: 30px;
    transition: 0.4s;
}

.pr-logos img:hover{
    transform: scale(1.2);
}


.product-slider{
    width: 18rem;
    height: 15rem;
    transform: translate(110%,-70%);
  
} 


.image-slider-holder img{
    width: 250px;
    height: 230px;  
}



.image-slider-holder{
    width: 100%;
    height: 110rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
    
}



.slider-arrow img{
    width: 40px;
}


.product-section{
    grid-row-gap: 3rem;
    grid-column-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,18rem);
    grid-template-areas: 'pr1 pr2 pr3'
                         'pr4 pr5 pr6'
                         'pr7 pr8 pr9'
                         'pr10 pr11 pr12'
                         'pr13 pr14 pr15'
                         'pr16 pr17 pr18';
                        
}     


 .product-section .product{
       height: 18rem;
  }

  .product-section .product:hover{
        transform: scale(1.1);
        z-index: 5;
  }

  .product-section{
      margin: 10rem auto;
  }

  .buyme:hover,.cartbtn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

  
  .product-section .product:hover{
    transform: scale(1.03);
    z-index: 10;
    box-shadow: 5px 6px 6px rgb(139, 138, 138);
}

.product .heart{
    transition: 0.4s;
} 

.product .heart:hover{
    transform: scale(1.2);
}


.email-button button:hover,.slogan button:hover{
    transform: scale(1.1);
}



}


@media (min-width:800px){
         
    
.slogan{
    height: 17rem;
    transform: translate(6rem,2rem);
   
}

.pr-logos{
    width: 20rem;
    right: 60%;
}

.pr-logos img{
    width: 40px;
    transition: 0.4s;
}

.product-slider{
    width: 22rem;
} 

.circle-bg{
    width: 30rem;
    height: 30rem;
}


.footer{
    height: 25rem;
    flex-direction: row;
    align-items: center;

}

      
}




@media (min-width:1200px){

    .hero{
        width: 100%;
        height: 86vh;
        top: 5rem;
        border-radius: 0;
        background-image:linear-gradient(to right, rgba(100, 96, 96, 0.884),rgb(75, 71, 71));
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: none;
    }

    .slogan{
     
        width: 35%;
        height: 24rem;
        transform: translate(10rem,7rem);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
 
 
    .slogan h1{
         color: rgb(255, 255, 255);
         font-size: 5.5rem;
         text-transform: capitalize;
         line-height: 1.1;
    }
 
    .slogan button{
          width: 8rem;
          height: 2.5rem;
          font-size: 1rem;
          background-color: rgb(24, 23, 23);
          border: 2px solid rgb(167, 166, 166);
          color: white;
          outline: none;
          text-transform: capitalize;
          font-weight: 600;
          cursor: pointer;
          transition: 0.3s;
    }
 
 
     .product-slider{
         width: 35rem;
         height: 32rem;
         background-color: transparent;
         position: absolute;
         right: 50%;
         top: 50%;
         transform: translate(85%,-50%);
         overflow: hidden;
        
     } 
 
     .image-slider-holder img{
         width: 510px;
         height: 450px;
         transition: 0.3s;
         z-index: 10;
         
     }
 
 
 
     .imagesliderholder-active{
        transition: 0.5s transform ease-in;
     }
 
     .image-slider-holder{
         width: 100%;
         height: 225rem;
         display: flex;
         justify-content: space-around;
         flex-direction: column;
         align-items: center;
        
     }
   
 

     .slider-arrow{
         height: 100%;
         width: 100%;
         position: absolute;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         z-index: 5;
         cursor: pointer;
     }
 
    
     .arrow-up{
        width: 100%;
    }

    .arrow-down{
        display: none;
        width: 100%;
    }

    .product-section{
        height: 85rem;
        grid-row-gap: 2rem;
        grid-column-gap: 7px;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,20rem);
        grid-template-areas: 'pr1 pr2 pr3 pr4'
                             'pr5 pr6 pr7 pr8'
                             'pr9 pr10 pr11 pr12'
                             'pr13 pr14 pr15 pr16';
                            
    }          
    
    .pr-logos{
        width: 23rem;
        height: 3rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        right: 70%;
        top: 91%;
    }
    
    .pr-logos img{
        width: 50px;
    }

    .desktop-nav-content a{
        font-size: 1rem;
      }

      .cart {
        width: 30px;
        transition: 0.3s;
    }

  
 
    .desktop-nav{
        margin-right:2.3rem;
    }

    .desktop-nav-content{
        width:39rem;
    }


    .footer{
        height: 25rem;
        flex-direction: row;
        align-items: center;
  
    }

    
    .footer .footer-columns{
        width: 30%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .footer h1{
        font-size: 2.3rem;
    }
    
    .footer ul{
          height: 10rem;
    }
 
    .footer a{
       
        font-size: 1.2rem;
    }

    .footer-columns-email{
        width: 30%;
        height: 90%;
    }

    .footer-columns-email h1{
        margin-top: 3rem;
        margin-bottom: 4rem;
    }

    .footer-columns-email p{
        font-size: 1.2rem;
        margin-bottom: 3rem;
     }

  
     .email-button input{
        width: 15rem;
        padding: 8px;
        font-size: 0.9rem;
     }

     .email-button button{
        width: 6rem;
        height: 2rem;
        
     }



     .footer-links{
         height: 10rem;
         
     }

      
     .payment-logo img,.social-links img{
        width: 35px;
        
    }

    .payment-logo{
        width: 25rem;
    }

    .payment-logo img:hover{
        box-shadow: 3px 3px 3px rgb(61, 61, 61);
    }
 
}